* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.map-container {
  position: relative;
  margin: auto;
  width: 940px;
  height: 700px;
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
